In [1]:
import pandas as pd
import numpy 
import mat

In [1]:

sel1 = [func.min(Measurement.tobs), func.max(Measurement.tobs),func.avg(Measurement.tobs)]

active_station_analysis = session.query(*sel1).\
    group_by(Measurement.station).\
        order_by(func.count(Measurement.station).desc()).first()


print(f'The Lowest Recorded Temperature is {active_station_analysis[0]}\n\nThe Maximum Recorded Temperature is {active_station_analysis[1]}\n\nThe Average Temperature for Station {max(active_station_count)[0]} is {round(active_station_analysis[2],2)}')

NameError: name 'func' is not defined

In [2]:
import numpy as np

In [13]:
a = [[25], [79], [34], [45]]
a

a = np.ravel(a)
a

array([25, 79, 34, 45])

In [ ]:
# Using an interval of five years
    query_date = dt.date(formatted_random_start_date.year + 5, formatted_random_start_date.month, formatted_random_start_date.day)

    if query_date > int(dt.date(last_date_dt)):
        return f'No data available beyond {query_date}'
    else:
        pass

In [ ]:
if query_date > int(dt.date(last_date_dt)):
        return f'No data available beyond {query_date}'
    else:
        pass

In [8]:
import pandas as pd
from datetime import datetime

In [9]:
datelist = pd.date_range(datetime.today(), periods=100).tolist()
datelist = date

[Timestamp('2020-10-29 17:15:26.712419', freq='D'),
 Timestamp('2020-10-30 17:15:26.712419', freq='D'),
 Timestamp('2020-10-31 17:15:26.712419', freq='D'),
 Timestamp('2020-11-01 17:15:26.712419', freq='D'),
 Timestamp('2020-11-02 17:15:26.712419', freq='D'),
 Timestamp('2020-11-03 17:15:26.712419', freq='D'),
 Timestamp('2020-11-04 17:15:26.712419', freq='D'),
 Timestamp('2020-11-05 17:15:26.712419', freq='D'),
 Timestamp('2020-11-06 17:15:26.712419', freq='D'),
 Timestamp('2020-11-07 17:15:26.712419', freq='D'),
 Timestamp('2020-11-08 17:15:26.712419', freq='D'),
 Timestamp('2020-11-09 17:15:26.712419', freq='D'),
 Timestamp('2020-11-10 17:15:26.712419', freq='D'),
 Timestamp('2020-11-11 17:15:26.712419', freq='D'),
 Timestamp('2020-11-12 17:15:26.712419', freq='D'),
 Timestamp('2020-11-13 17:15:26.712419', freq='D'),
 Timestamp('2020-11-14 17:15:26.712419', freq='D'),
 Timestamp('2020-11-15 17:15:26.712419', freq='D'),
 Timestamp('2020-11-16 17:15:26.712419', freq='D'),
 Timestamp('2020-11-17 17:15:26.712419', freq='D'),
 Timestamp('2020-11-18 17:15:26.712419', freq='D'),
 Timestamp('2020-11-19 17:15:26.712419', freq='D'),
 Timestamp('2020-11-20 17:15:26.712419', freq='D'),
 Timestamp('2020-11-21 17:15:26.712419', freq='D'),
 Timestamp('2020-11-22 17:15:26.712419', freq='D'),
 Timestamp('2020-11-23 17:15:26.712419', freq='D'),
 Timestamp('2020-11-24 17:15:26.712419', freq='D'),
 Timestamp('2020-11-25 17:15:26.712419', freq='D'),
 Timestamp('2020-11-26 17:15:26.712419', freq='D'),
 Timestamp('2020-11-27 17:15:26.712419', freq='D'),
 Timestamp('2020-11-28 17:15:26.712419', freq='D'),
 Timestamp('2020-11-29 17:15:26.712419', freq='D'),
 Timestamp('2020-11-30 17:15:26.712419', freq='D'),
 Timestamp('2020-12-01 17:15:26.712419', freq='D'),
 Timestamp('2020-12-02 17:15:26.712419', freq='D'),
 Timestamp('2020-12-03 17:15:26.712419', freq='D'),
 Timestamp('2020-12-04 17:15:26.712419', freq='D'),
 Timestamp('2020-12-05 17:15:26.712419', freq='D'),
 Timestamp('2020-12-06 17:15:26.712419', freq='D'),
 Timestamp('2020-12-07 17:15:26.712419', freq='D'),
 Timestamp('2020-12-08 17:15:26.712419', freq='D'),
 Timestamp('2020-12-09 17:15:26.712419', freq='D'),
 Timestamp('2020-12-10 17:15:26.712419', freq='D'),
 Timestamp('2020-12-11 17:15:26.712419', freq='D'),
 Timestamp('2020-12-12 17:15:26.712419', freq='D'),
 Timestamp('2020-12-13 17:15:26.712419', freq='D'),
 Timestamp('2020-12-14 17:15:26.712419', freq='D'),
 Timestamp('2020-12-15 17:15:26.712419', freq='D'),
 Timestamp('2020-12-16 17:15:26.712419', freq='D'),
 Timestamp('2020-12-17 17:15:26.712419', freq='D'),
 Timestamp('2020-12-18 17:15:26.712419', freq='D'),
 Timestamp('2020-12-19 17:15:26.712419', freq='D'),
 Timestamp('2020-12-20 17:15:26.712419', freq='D'),
 Timestamp('2020-12-21 17:15:26.712419', freq='D'),
 Timestamp('2020-12-22 17:15:26.712419', freq='D'),
 Timestamp('2020-12-23 17:15:26.712419', freq='D'),
 Timestamp('2020-12-24 17:15:26.712419', freq='D'),
 Timestamp('2020-12-25 17:15:26.712419', freq='D'),
 Timestamp('2020-12-26 17:15:26.712419', freq='D'),
 Timestamp('2020-12-27 17:15:26.712419', freq='D'),
 Timestamp('2020-12-28 17:15:26.712419', freq='D'),
 Timestamp('2020-12-29 17:15:26.712419', freq='D'),
 Timestamp('2020-12-30 17:15:26.712419', freq='D'),
 Timestamp('2020-12-31 17:15:26.712419', freq='D'),
 Timestamp('2021-01-01 17:15:26.712419', freq='D'),
 Timestamp('2021-01-02 17:15:26.712419', freq='D'),
 Timestamp('2021-01-03 17:15:26.712419', freq='D'),
 Timestamp('2021-01-04 17:15:26.712419', freq='D'),
 Timestamp('2021-01-05 17:15:26.712419', freq='D'),
 Timestamp('2021-01-06 17:15:26.712419', freq='D'),
 Timestamp('2021-01-07 17:15:26.712419', freq='D'),
 Timestamp('2021-01-08 17:15:26.712419', freq='D'),
 Timestamp('2021-01-09 17:15:26.712419', freq='D'),
 Timestamp('2021-01-10 17:15:26.712419', freq='D'),
 Timestamp('2021-01-11 17:15:26.712419', freq='D'),
 Timestamp('2021-01-12 17:15:26.712419', freq='D'),
 Timestamp('2021-01-13 17:15:26.712419', freq='D'),
 Timestamp('2021-01-14 17:15:26.712419', freq='D'),
 Timestamp('2021-01-15 17:15:26.712419', freq='D'),
 Timestamp('2021-01-16 17:15:26.712419', freq='D'),
 Timestamp('2021-01-17 17:15:26.712419', freq='D'),
 Timestamp('2021-01-18 17:15:26.712419', freq='D'),
 Timestamp('2021-01-19 17:15:26.712419', freq='D'),
 Timestamp('2021-01-20 17:15:26.712419', freq='D'),
 Timestamp('2021-01-21 17:15:26.712419', freq='D'),
 Timestamp('2021-01-22 17:15:26.712419', freq='D'),
 Timestamp('2021-01-23 17:15:26.712419', freq='D'),
 Timestamp('2021-01-24 17:15:26.712419', freq='D'),
 Timestamp('2021-01-25 17:15:26.712419', freq='D'),
 Timestamp('2021-01-26 17:15:26.712419', freq='D'),
 Timestamp('2021-01-27 17:15:26.712419', freq='D'),
 Timestamp('2021-01-28 17:15:26.712419', freq='D'),
 Timestamp('2021-01-29 17:15:26.712419', freq='D'),
 Timestamp('2021-01-30 17:15:26.712419', freq='D'),
 Timestamp('2021-01-31 17:15:26.712419', freq='D'),
 Timestamp('2021-02-01 17:15:26.712419', freq='D'),
 Timestamp('2021-02-02 17:15:26.712419', freq='D'),
 Timestamp('2021-02-03 17:15:26.712419', freq='D'),
 Timestamp('2021-02-04 17:15:26.712419', freq='D'),
 Timestamp('2021-02-05 17:15:26.712419', freq='D')]

In [24]:
import pandas as pd
import numpy as np
date1 = '2011-05-03'
date2 = '2011-05-10'
mydates = pd.date_range(date1, date2).tolist()

In [11]:
mydates

[Timestamp('2011-05-03 00:00:00', freq='D'),
 Timestamp('2011-05-04 00:00:00', freq='D'),
 Timestamp('2011-05-05 00:00:00', freq='D'),
 Timestamp('2011-05-06 00:00:00', freq='D'),
 Timestamp('2011-05-07 00:00:00', freq='D'),
 Timestamp('2011-05-08 00:00:00', freq='D'),
 Timestamp('2011-05-09 00:00:00', freq='D'),
 Timestamp('2011-05-10 00:00:00', freq='D')]

In [34]:
import datetime
date1 = '2011-05-03'
date2 = '2011-05-10'
start = datetime.datetime.strptime(date1, '%Y-%m-%d')
end = datetime.datetime.strptime(date2, '%Y-%m-%d')
step = datetime.timedelta(days=1)

datelist = []

while start <= end:
    print (start.date())
    datelist.append(start)
    start += step

2011-05-03
2011-05-04
2011-05-05
2011-05-06
2011-05-07
2011-05-08
2011-05-09
2011-05-10

In [33]:
type(datelist)

dict

In [30]:
datelist

[datetime.datetime(2011, 5, 3, 0, 0),
 datetime.datetime(2011, 5, 4, 0, 0),
 datetime.datetime(2011, 5, 5, 0, 0),
 datetime.datetime(2011, 5, 6, 0, 0),
 datetime.datetime(2011, 5, 7, 0, 0),
 datetime.datetime(2011, 5, 8, 0, 0),
 datetime.datetime(2011, 5, 9, 0, 0),
 datetime.datetime(2011, 5, 10, 0, 0)]

In [35]:
import pandas as pd
date1 = '2011-05-03'
date2 = '2011-05-10'
mydates = pd.date_range(date1, date2).tolist()

In [36]:
mydates

[Timestamp('2011-05-03 00:00:00', freq='D'),
 Timestamp('2011-05-04 00:00:00', freq='D'),
 Timestamp('2011-05-05 00:00:00', freq='D'),
 Timestamp('2011-05-06 00:00:00', freq='D'),
 Timestamp('2011-05-07 00:00:00', freq='D'),
 Timestamp('2011-05-08 00:00:00', freq='D'),
 Timestamp('2011-05-09 00:00:00', freq='D'),
 Timestamp('2011-05-10 00:00:00', freq='D')]